<form class='sort-and-filter'>
    <label class='control' for='show-sort-options' id='sort'>
        SORT{% if collection.sort_by != blank %} {% render 'icon-check' %} {% endif %}
    </label>
    <input class='show-control' type='checkbox' name='show-sort-options' id='show-sort-options' />
    <label class='control' for='show-filter-options' id='filter'>
        FILTERS
        {% assign has_filters = false %}
        {%- for filter in collection.filters -%}
            {%- if has_filters -%}
                {% break %}
            {%- endif -%}
            {%- if filter.active_values.size > 0 -%}
                {% assign has_filters = true %}
                {% break %}
            {%- endif -%}
        {%- endfor -%}
        {%- if has_filters -%}
            {% render 'icon-check' %}
        {%- endif -%}
    </label>
    <input class='show-control' type='checkbox' name='show-filter-options' id='show-filter-options' />
    <label for='show-sort-options' class='closeDrawer sort'>&nbsp;</label>
    <label for='show-filter-options' class='closeDrawer filter'>&nbsp;</label>
    <div class="saf-form filter" id='filter-form'>
        <div class='header filter'>
            <h1>Filters</h1>
            <label class='close-filters' for='show-filter-options'>
                {% render 'icon-x' %}
            </label>
        </div>
        <div class='header sort'>
            <h1>Sort By</h1>
            <label class='close-sort' for='show-sort-options'>
                {% render 'icon-x' %}
            </label>
        </div>
        <details {% if collection.sort_by %} class='sort-group active' {% else %} class='sort-group' {% endif %} >
          <summary class="filter-group-summary">
            <div>
              <div class='header'>
                  <span>
                      SORT
                  </span>
                  {% render 'icon-chevron-down' %}
              </div>
            </div>
          </summary>
          <div class='filter-group-display'>
            <select name='sort_by' name='sort_by'>
            <option value='best-selling' {% if collection.sort_by == 'best-selling' or collection.sort_by == blank %} selected {% endif %}>Best Selling</option>
            <option value='created-ascending' {% if collection.sort_by == 'created-descending' %} selected {% endif %}>What's New</option>
            <option value='price-ascending' {% if collection.sort_by == 'price-ascending' %} selected {% endif %}>Price Low-to-High</option>
            <option value='price-descending' {% if collection.sort_by == 'price-descending' %} selected {% endif %}>Price High-to-Low</option>
          </select>
          <div class="filter-group-display__submit">
            <input class='button black' type="submit" value="Apply">
          </div>
          </div>
        </details>
        {%- for filter in collection.filters -%}
          <details class=
              {%- if filter.active_values.size > 0 -%}
                "filter-group active"
              {%- else -%}
                "filter-group"
              {%- endif -%}
            >
            <summary class="filter-group-summary">
              <div>
                <div class='header'>
                    <span>
                        {{ filter.label }}
                        {%- if filter.active_values.size > 0 -%}
                            <span class='amount'>({{ filter.active_values.size }})</span>
                        {%- endif -%}
                    </span>
                    {% render 'icon-chevron-down' %}
                </div>
              </div>
            </summary>
      
            <div class="filter-group-display">
              <div class="filter-group-display__header">
                {% comment %} {% if filter.active_values.size == 0 %}
                    <p class="filter-group-display__header-selected">None selected</p>
                {% elsif filter.active_values.size %}
                    <p class="filter-group-display__header-selected">{{ filter.active_values.size }} selected</p>
                {% endif %}
       {% endcomment %}
                {%- if filter.active_values.size > 0 -%}
                  <a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset">Reset Filter</a>
                {%- endif -%}
              </div>
      
              {%- case filter.type -%}
                {%- when 'boolean' or 'list' -%}
                  <ul class="filter-group-display__list">
                    {%- for filter_value in filter.values -%}
                      <li class="filter-group-display__list-item">
                        <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                        <input type="checkbox"
                          name="{{ filter_value.param_name }}"
                          value="{{ filter_value.value }}"
                          id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                          {% if filter_value.active -%}checked{%- endif %}
                          {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                        >{{ filter_value.label }}</label>
                      </li>
                    {%- endfor -%}
                  </ul>
      
                  <div class="filter-group-display__submit">
                    <input class='button black' type="submit" value="Apply">
                  </div>
                {%- when 'price_range' -%}
                  <div class="filter-group-display__price-range">
                    <div class="filter-group-display__price-range-from">
                      <span>{{ cart.currency.symbol }}</span>
      
                      <input name="{{ filter.min_value.param_name }}"
                        id="Filter-{{ filter.min_value.param_name }}"
                        {% if filter.min_value.value -%}
                          value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                        {%- endif %}
                        type="number"
                        placeholder="0"
                        min="0"
                        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                      >
      
                      <label for="Filter-{{ filter.min_value.param_name }}">From</label>
                    </div>
                    <div class="filter-group-display__price-range-to">
                      <span>{{ cart.currency.symbol }}</span>
      
                      <input name="{{ filter.max_value.param_name }}"
                        id="Filter-{{ filter.max_value.param_name }}"
                        {% if filter.max_value.value -%}
                          value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                        {%- endif %}
                        type="number"
                        placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                        min="0"
                        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                      >
      
                      <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                    </div>
                  </div>
      
                  <div class="filter-group-display__submit">
                    <input class='button black' type="submit" value="Apply">
                  </div>
              {%- endcase -%}
            </div>
          </details>
        {%- endfor -%}
        <br />
        <div class="active-filters">
            {%- if has_filters -%}
                <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear">Clear all &nbsp; X</a>
            {%- endif -%}
      
          {%- for filter in collection.filters -%}
            {%- if filter.type == "price_range" -%}
              {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
                  {%- assign min_value = filter.min_value.value | default: 0 -%}
                  {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                  {{ min_value | money }} - {{ max_value | money }} &nbsp; X
                </a>
              {%- endif -%}
            {%- else -%}
              {%- for filter_value in filter.active_values -%}
                <a class="active-filters__remove-filter" href="{{ filter_value.url_to_remove }}">
                  {{ filter.label }}: {{ filter_value.label }} &nbsp; X
                </a>
              {%- endfor -%}
            {%- endif- %}
          {%- endfor -%}
        </div>
    </div>
</form>

{% style %}

.sort-and-filter {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
}

.sort-and-filter .control {
  width: 128px;
  height: 32px;
  padding: 0 32px;
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 32px;
  text-align: center;
}

.sort-and-filter .show-control {
    display: none;
}

.closeDrawer {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(82, 82, 82, 0.5);
  z-index: 2;
  display: none;
  opacity: 0;
  pointer-events: none;
}

input#show-sort-options:checked ~ .saf-form.filter, input#show-filter-options:checked ~ .saf-form.filter {
    transition: 0.4s;
    right: 0;
}
input#show-sort-options:checked ~ .closeDrawer.sort, input#show-filter-options:checked ~ .closeDrawer.filter {
  display: block;
  opacity: 1;
  pointer-events: auto;
}
.saf-form > .header { display: none; }
input#show-sort-options:checked ~ .saf-form.filter .header.filter {display: none;}
input#show-filter-options:checked ~ .saf-form.filter .header.sort {display: none;}
input#show-sort-options:checked ~ .saf-form.filter .filter-group {display: none;}
input#show-filter-options:checked ~ .saf-form.filter .sort-group {display: none;}

.saf-form {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    background-color: white;
    z-index: 5;
    margin-top: 46px;
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    border-left: solid 1px #ccc;
    overflow-y: auto;
}

.saf-form summary {
    list-style: none;
    -webkit-list-style: none;
    padding: 16px;
}

.saf-form .filter-group, .saf-form .sort-group {
    border-top: solid 1px #ccc;
}

.saf-form .filter-group:last-of-type, .saf-form .sort-group:last-of-type {
    border-bottom: solid 1px #ccc;
}

.saf-form select {
  display: inline-block;
  height: 3.5rem;
  width: 20rem;
  padding-left: 4px;
}

.saf-form .button {
    font-size: 1.3rem;
    margin-top: 8px;
    width: 128px;
}

.saf-form span, .saf-group-display label, .active-filters a,  .filter-group-display__header-reset, .saf-form p, .saf-form input, .saf-form select {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
}

.saf-form .filter-group-display {
    padding:0 0 16px 24px;
}

.saf-form .filter-group-display input[type=checkbox] {
    margin-right:8px;
}

.saf-form .filter-group-display ul {
    list-style: none;
}

.saf-form .filter-group-display input {
    font-size: 1.4rem;
}

.saf-form .filter-group-display .filter-group-display__header-reset {
    padding-left: 4px;
    font-weight: 500;
    text-decoration: none;
    color: #7181b0
}

.saf-form .active-filters {
    margin-bottom: 16px;
}

.saf-form .active-filters a {
    display: inline-block;
    width: auto;
    margin: 16px 0 0 16px;
    background-color: #1e1e1e;
    color: #fff;
    text-decoration: none;
    width: auto;
    padding: 8px;
    cursor: pointer;
}

.saf-form .active-filters span {
    padding-left: 8px;
    font-size: 1rem;
    /* font-weight: 700; */
}

.sort-and-filter .control svg {
    display: inline-block;
    width: 1.4rem;
    vertical-align: -25%;
    margin-left: 4px;
}
.saf-form .header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.saf-form .header .close-filters {
    height: 24px;
    width: 24px;
}
.saf-form summary .header {
    padding: 0;
}
.saf-form .header svg { stroke-width: 1; }
.saf-form .filter-group[open] .header svg {
    transform: rotate(180deg);
}
.saf-form h1 {
    font-size: 1.8rem;
    font-weight: 500;
}
/* .filter-group-display__header-selected {
    padding-bottom: 8px;
} */
@media(min-width: 800px) {
  .sort-and-filter .control {display: none;}
  .saf-form {
    display: inline-block; 
    position: static;
    margin: 0;
    padding: 0;
    z-index: 2;
  }
  .saf-form.filter {
    width: auto;
    padding: 0 16px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    z-index: 2;
    /* justify-content: center; */
  }

  .saf-form, .saf-form .sort-group:last-of-type, .saf-form .filter-group:last-of-type { border: none; }
  .saf-form .header { position: relative; align-items: center; }
  .saf-form .header span { width: 100%;text-align: center;}
  /* .saf-form .header svg {position: absolute; right: 0} */
  .saf-form > .header {display: none;}
  .saf-form.filter details { display: inline-block; }
  .saf-form details[open]>summary+* { position: absolute; z-index: 5; display: block; }
  .saf-form .filter-group-summary .header {padding: 0 8px;}
  .saf-form .filter-group-summary .header span { font-weight: 500; }
  .saf-form .filter-group-summary {
    /* padding: 0; */
    box-sizing: border-box;
    width: 14rem;
    height: auto;
  }
  .saf-form .filter-group-display {
    position: absolute;
    box-sizing: border-box;
    min-width:15rem;
    max-height: 50rem;
    background-color: #fff;
    border: solid 2px #ccc;
    box-shadow: 2px 4px 8px #888;
    padding: 16px;
    margin-top: -8px;
    margin-left: 32px;
  }
  .saf-form .filter-group, .saf-form .sort-group {
    float: left;
    width: auto;
    border: none;
    padding: 0;
    z-index: 2;
  }
  .saf-form select {width:20rem;}
  /* .saf-form .header svg {
    width: 3rem;
  } */
  .saf-form summary {
    position: relative;
    padding: 8px 0;
    margin: 0 0 16px 32px;
    border: solid 2px #1e1e1e;
    z-index: 2;
  }
  .saf-form .header svg { stroke-width: 2; }
  .active-filters { display: inline-block; width: 100%; padding: 0 16px; box-sizing: border-box; }
  .active .filter-group-summary {
    background-color: #1e1e1e;
    color: #fff;
  }
  .saf-form .amount {display:none;}
}
{% endstyle %}