{{ 'homepage.css' | asset_url | stylesheet_tag }}
<div class='categories-section'>
  <ul>
    {% for block in section.blocks %}
      <li>
        <a href='{{block.settings.collection.url}}'>
          <div class='image'>
            <picture>
              <source srcset="{{ block.settings.collection | img_url: '80x' }}, {{ block.settings.collection | img_url: '160x' }} 2x">
              <img src="{{ block.settings.collection | img_url: '80x' }}" width='100%' height='100%'>
          </picture>
          </div>
          {% if block.settings.caption != blank %}
            <p>{{block.settings.caption}}</p>
          {% else %}
            <p>{{block.settings.collection.title}}</p>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class='view-all'>
    {% if section.settings.button-text != blank %}
      <a class="button" type="button" href='./collections/Clothing';> {{ section.settings.button-text }} </a>
    {% else %}
      <a class="button" type="button" href='{{ section.settings.button-collection.url }}';> View All {{ section.settings.button-collection.title }} </a>
    {% endif %}
  </div>
    
</div>

{% schema %}
{
    "name": "Categories",
    "settings": [
      {
        "label": "Button Text",
        "id": "button-text",
        "info": "Leave blank for default - 'View All Categories'",
        "type": "text"
      },
      {
        "label": "Button Link",
        "id": "button-collection",
        "info": "Input the name of the collection the button should link to",
        "type": "collection"
      }
    ],
    "blocks": [
        {
            "name": "Collection",
            "type": "slide",
            "settings": [
                {
                    "type" : "text",
                    "id" : "caption",
                    "label" : "Custom Caption (Leave blank for default)"
                },
                {
                    "type" : "collection",
                    "id" : "collection",
                    "label" : "Collection Link"
                }
            ]
        }
    ]
}
{% endschema %}