{{ 'collection_banner.css' | asset_url | stylesheet_tag }}
<div class='collection-banner'>
    {% if collection.metafields.brand.image %}
    <div class='slide'>
        <div class="bg_blur">
            <picture>
                <source media="(max-width:390px)" srcset="{{ collection.metafields.brand.image | img_url: '390x' }}, {{ collection.metafields.brand.image | img_url: '780x' }} 2x ">
                <source media="(max-width:768px)" srcset="{{ collection.metafields.brand.image | img_url: '768x' }}, {{ collection.metafields.brand.image | img_url: '1536x' }} 2x ">
                <source srcset="{{ collection.metafields.brand.image | img_url: '1024x' }}, {{ collection.metafields.brand.image | img_url: '2048x' }} 2x">
                <img src="{{ collection.metafields.brand.image | img_url: '1024x' }}" width='100%' height='100%'>
            </picture>
        </div>
        <div class="content">
            <div class="card">
                <div class='image'>
                    <picture>
                        <source media="(max-width:390px)" srcset="{{ collection.metafields.brand.image | img_url: '390x' }}, {{ collection.metafields.brand.image | img_url: '780x' }} 2x ">
                        <source media="(max-width:768px)" srcset="{{ collection.metafields.brand.image | img_url: '768x' }}, {{ collection.metafields.brand.image | img_url: '1536x' }} 2x ">
                        <source srcset="{{ collection.metafields.brand.image | img_url: '1024x' }}, {{ collection.metafields.brand.image | img_url: '2048x' }} 2x">
                        <img src="{{ collection.metafields.brand.image | img_url: '1024x' }}" width='100%' height='100%'>
                    </picture>
                </div>
                <div class='caption'>
                    {{collection.title}}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class='slide'>
        <div class="bg_blur">
            <picture>
                <source media="(max-width:390px)" srcset="{{ section.settings.fallback_image | img_url: '390x' }}, {{ section.settings.fallback_image | img_url: '780x' }} 2x ">
                <source media="(max-width:768px)" srcset="{{ section.settings.fallback_image | img_url: '768x' }}, {{ section.settings.fallback_image | img_url: '1536x' }} 2x ">
                <source srcset="{{ section.settings.fallback_image | img_url: '1024x' }}, {{ section.settings.fallback_image | img_url: '2048x' }} 2x ">
                <img src="{{ section.settings.fallback_image | img_url: '1024x' }}" width='100%' height='100%'>
            </picture>
        </div>
        <div class="content">
            <div class="card">
                <div class='image'>
                    <picture>
                        <source media="(max-width:390px)" srcset="{{ section.settings.fallback_image | img_url: '390x' }}, {{ collection.metafields.brand.image | img_url: '780x' }} 2x ">
                        <source media="(max-width:768px)" srcset="{{ section.settings.fallback_image | img_url: '768x' }}, {{ collection.metafields.brand.image | img_url: '1536x' }} 2x ">
                        <source srcset="{{ section.settings.fallback_image | img_url: '1024x' }}, {{ section.settings.fallback_image | img_url: '2048x' }} 2x ">
                        <img src="{{ section.settings.fallback_image | img_url: '1024x' }}" width='100%' height='100%'>
                    </picture>
                </div>
                <div class='caption'>
                    {{collection.title}}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% schema %}
{
    "name": "Collection Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "fallback_image",
            "label": "Fallback Image"
        }
    ]
}
{% endschema %}