<div class=cart>
  {% if cart.item_count > 0 %}
    <form action="/cart" method="post">
      <div class='cart-items'>
    <h3 class='title'>Your Cart</h3>
        {% for item in cart.items %}
          <div class='cart-item'>
            <div class='image'>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'small' }}" width='100%' height='100%' alt="{{ item.title | escape }} ">
              </a>
            </div>
            <div class='details'>
              <a href="{{ item.url }}"><div class='price'>
                {{ item.price | money }}
                {% if item.price < item.variant.compare_at_price %}
                  <span>{{ item.variant.compare_at_price | money }}</span>
                {% endif %}
                
              </div>
              <div class='product-title'>
                {% render 'filtered-product-title' with item.product.title %}
              </div> </a>
              <div class='variant'>
                {{ item.variant.title }}
                  - Qty 
                  {% if item.variant.inventory_policy == 'continue' %}

                  <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" max='-Inf'>
                  {% else %}
                    <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity}}" min="0" max='{{item.variant.inventory_quantity}}'>
                  {% endif %}
                </div>
              </div>
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                <div class='remove-button'>{% render 'icon-x' %}</div>
              </a>
          </div>
        {% endfor %}
        <p class='subtotal'>Subtotal : {{ cart.total_price | money }}</p>
        <div class='update-button'>
          <button class='button black' type="submit" name="update">Update Cart</button>
        </div>
      </div>
      <div class='checkout-buttons'>
        <h3 class='title'>Checkout</h3>
        <p class='subtotal'>Subtotal : {{ cart.total_price | money }}</p>
        <button class='button black' type="submit" name="checkout">Checkout</button>
        {% if additional_checkout_buttons %}
          <div class="additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
        {% endif %}
      </div>
    </form>
  {% else %}
  <div class='empty-cart'>
    <p>Nothing in here.</p>
    <div class='cart-vector'>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
    </div>
    <p>Browse our store and add something to your cart!</p>
  </div>
  {% endif %}
</div>

{% schema %}
    {
        "name": "Cart Contents",
        "settings": []
    }
{% endschema %}

{% style %}
.cart .title, .cart-item, .cart .button, .cart .subtotal, .empty-cart p {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cart .title {
  font-weight: 500;
  font-size: 1.6rem;
  padding: 16px 0 8px 0;
  text-align: left;
}

.cart-items {
  padding: 0 16px;
  box-sizing: border-box;
}

.cart-items .remove-button {
  padding: 4px;
}

.cart-item {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #ccc;
}

div.cart-item:first-of-type {
  border-top: none;
}

.cart .cart-item .image {
  width: 100px;
  height: 100px;
}

.cart .cart-item .image img {
  object-fit: contain;
}

.cart .cart-item .details {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.cart .cart-item .variant input {
  text-align: center;
  width: 3.2rem;
  font-size: 1.3rem;
}

.cart .cart-item .details div, .cart .cart-item .details span {
  font-size: 1.3rem;
}

.cart .cart-item .details .product-title {
  font-size: 1.5rem;
  padding: 4px 0;
}
.cart .cart-item .details .price { font-size: 1.5rem; }
.cart .price, .cart .variant {
  font-weight: 500;
}
.cart .price span {
  font-size: 1.3rem;
  padding-left: 8px;
  text-decoration: line-through;
}

.cart a {
  color: black;
  text-decoration: none;
}

.cart .subtotal {
  text-align: center;
  padding: 8px 0;
}

.update-button, .checkout-buttons {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkout-buttons .title, .checkout-buttons .subtotal {
  display: none;
}
.cart .button {
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 100%;
  padding: 4px 0;
  margin-top: 8px;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}


.empty-cart p {
  width: 70%;
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  margin: 24px 0;
}

.empty-cart p:last-child {
  margin-bottom: 0;
}

.empty-cart .cart-vector, .empty-cart svg {
  width: 96px;
  height: 96px;
  stroke-width: 1;
}

@media(min-width: 800px) {
  .cart form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
  }
  .checkout-buttons {}
  .checkout-buttons .title, .checkout-buttons .subtotal {
    display: block;
  }
}

{% endstyle %}