{{ 'products.css' | asset_url | stylesheet_tag }}
<div class='search-results'>
    <h2>Search</h2>
    <form action="/search" method="get" role="search">
      <div class='search-form'>
        <input type="search" name="q" value="{{ search.terms | escape }}">
      <button type="submit">search</button>
      </div>
      {% render 'sort-and-filter-search' %}
    </form>
    {% paginate search.results by 16 %}
    <div class='results'>
    {% if search.performed %}
      {% for item in search.results %}
        <div class='item {% if item.object_type == 'product' %} product {% endif %}'>
          {% if item.featured_image %}
            <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
              {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
            </a>
          {% endif %}
          <h5>
            {% if item.object_type == 'product' %}
            <a href="{{item.url}}">
                <p class='title'>{% render 'filtered-product-title' with item.title %}</p>
              {% if item.price < item.compare_at_price %}
                <p class='price'><span class='original'>{{ item.compare_at_price | money }}</span> {{ item.price | money }}</p> 
                <div class='badge sale'>
                    SALE<br>
                  {% assign og_price = item.compare_at_price | money_without_currency %}
                  {% assign percentage = item.price | money_without_currency | divided_by: og_price %}
                  {% assign diff = 1 | minus: percentage | times: 100 %}
                  -{{ diff | round: 0 }}%
                </div>
                {%else%}<p>{{ item.price | money }}</p>
              {% endif %}
              {% unless item.available %}
                <div class='badge out-of-stock'>
                  OUT OF STOCK
                </div>
              {% endunless %}
            </a>
            {% else %}
              {{ item.title | link_to: item.url }}
            {% endif %}
          </h5>
        </div>
      {% else %}
        <p>Unable to find any results matching this search query.</p>
      {% endfor %}
    {% endif %}
    </div>
  </div>
  
    {% render 'pages' with paginate %}
  {% endpaginate %}
  
  {% style %}
  .search-results h2 {
    text-align: left;
    padding: 0 0 8px 0;
    margin: 32px 16px 16px;
    border-bottom: solid 1px #ccc;
  }
  .search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
  .search-form {
    padding: 0 32px;
  }
  .search-form input {
    width: 100%;
    padding: 8px;
  }
  .search-form button {
    width: 100%;
    max-width: 100%;
    margin: auto;
    margin: 16px 0;
  }
  .results {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 8px;
    justify-content: space-around;
  }
  .results .item {
    width: 160px;
    margin: auto;
    margin-top: 0;
  }
  .results .item a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #4F607B;
    font-weight: 500;
  }
  .results .item p {
    padding-top: 4px;
    font-size: 1.3rem;
    text-decoration: none;
  }
  .results .item img {
    width: 100%;
  }
  @media(min-width: 600px) {
    .results {
      grid-template-columns: 1fr 1fr 1fr;
  }
  @media(min-width: 800px) {
    .search-form {
      flex-direction: row;
      justify-content: space-around;
    }
    .search-form input {
      width: 75%;
      margin-right: 16px;
    }
    .search-form button {
      margin: 0;
      width: 30%;
    }
    .results {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  }
  {% endstyle %}