{{ 'search.css' | asset_url | stylesheet_tag }}
{{ 'products.css' | asset_url | stylesheet_tag }}
<div class='search-results'>
    <h2>Search</h2>
    <form action="/search" method="get" role="search">
      <div class='search-form'>
        <input type="search" name="q" value="{{ search.terms | escape }}">
      <button type="submit">search</button>
      </div>
      {% render 'sort-and-filter-search' %}
    </form>
    {% paginate search.results by 16 %}
    <div class='results'>
    {% if search.performed %}
      {% for item in search.results %}
        <div class='item {% if item.object_type == 'product' %} product {% endif %}'>
          {% if item.featured_image %}
            <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
              {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
            </a>
          {% endif %}
          <h5>
            {% if item.object_type == 'product' %}
            <a href="{{item.url}}">
                <p class='title'>{% render 'filtered-product-title' with item.title %}</p>
              {% if item.price < item.compare_at_price %}
                <p class='price'><span class='original'>{{ item.compare_at_price | money }}</span> {{ item.price | money }}</p> 
                <div class='badge sale'>
                    SALE<br>
                  {% assign og_price = item.compare_at_price | money_without_currency %}
                  {% assign percentage = item.price | money_without_currency | divided_by: og_price %}
                  {% assign diff = 1 | minus: percentage | times: 100 %}
                  -{{ diff | round: 0 }}%
                </div>
                {%else%}<p>{{ item.price | money }}</p>
              {% endif %}
              {% unless item.available %}
                <div class='badge out-of-stock'>
                  OUT OF STOCK
                </div>
              {% endunless %}
            </a>
            {% else %}
              {{ item.title | link_to: item.url }}
            {% endif %}
          </h5>
        </div>
      {% else %}
        <p>Unable to find any results matching this search query.</p>
      {% endfor %}
    {% endif %}
    </div>
  </div>
  
    {% render 'pages' with paginate %}
  {% endpaginate %}