{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'description.css' | asset_url | stylesheet_tag }}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class='main-product'>
  <div class='product-images'>
    <div class='slider'>
      <ul class='images'>
        {% for image in product.images %}
          {% assign prev = 0 %}
          {% assign next = 0 %}
          {% if forloop.index == 1 %}
              {% assign prev = forloop.length %}
              {% assign next = forloop.index | plus: 1 %}
          {% elsif forloop.index == forloop.length %}
              {% assign prev = forloop.index | minus: 1 %}
              {% assign next = 1 %}
          {% else %}
              {% assign prev = forloop.index | minus: 1 %}
              {% assign next = forloop.index | plus: 1 %}
          {% endif %}
        <section class='product-image' id='image-{{forloop.index}}' >
          <picture>
            <source srcset="{{ image | img_url: '300x' }}, {{ image | img_url: '600x' }} 2x">
            <source srcset="{{ image | img_url: '300x' }}, {{ image | img_url: '600x' }} 2x">
            <img src="{{ image | img_url: '300x' }}" width='100%' height='100%' >
          </picture>
          <a class='control left' href='#image-{{prev}}'>
            {% render 'icon-chevron-left' %}
          </a>
          <a class='control right' href='#image-{{next}}'>
            {% render 'icon-chevron-right' %}
          </a>
        </section>
      {% endfor %}
    </ul>
    </div>
    <ul class='image-nav'>
      {% assign more-images = 0 %}
      <input type='radio' name='radio-button' id='show-more' />
      
      {% for image in product.images %}
        {% if forloop.index < 4 %}
          <li class='product-image'>
            <a href='#image-{{forloop.index}}'>
              <picture>
                <source srcset="{{ image | img_url: '300x' }}, {{ image | img_url: '600x' }} 2x">
                <img src="{{ image | img_url: '300x' }}" width='100%' height='100%'>
              </picture>
            </a>
          </li>
        {% else %}
        {% assign more-images = more-images | plus: 1 %}
          <li class='product-image more'>
            <a href='#image-{{forloop.index}}'>
              <picture>
                <source srcset="{{ image | img_url: '300x' }}, {{ image | img_url: '600x' }} 2x">
                <img src="{{ image | img_url: '300x' }}" width='100%' height='100%'>
              </picture>
            </a>
          </li>
        {% endif %}
      {% endfor %}
      <li class='show-more'>
        <label for='show-more'>
          + {{ more-images }}
        </label>
      </li>
    </ul>
  </div>
  
  <div class='product-info'>
    {% assign vendor = collections[product.vendor] %}
    <h4 class='vendor'>{{ product.vendor | link_to: vendor.url}}</h4>
    <h4 class='title'>{% render 'filtered-product-title' with product.title %}</h4>
    <div>
      {% if current_variant.price < product.compare_at_price %}
        {% comment %} <noscript>
          <h4 class='price'>
            <span class='original'>{{ product.compare_at_price| money }}</span>
            <span class='difference'>SALE</span>
          </h4>
        </noscript> {% endcomment %}
        <h4 class='price'>
          <span class='current js-inline' id='price'>{{ current_variant.price| money }}</span>
          <span class='original' id='compare-at'>{{ product.compare_at_price| money }}</span>
          {% if product.compare_at_price != blank %}
            {% assign og_price = product.compare_at_price | money_without_currency %}
            {% assign percentage = current_variant.price | money_without_currency | divided_by: og_price %}
            {% assign diff = 1 | minus: percentage | times: 100 %}
          {% else %}
            {% assign diff = 0 %}
          {% endif %}
          <span class='difference js-inline' id='difference'>{% if product.compare_at_price != blank and product.price < product.compare_at_price %}(-{{ diff | round: 0 }}%){% endif %} <span class='no-js'>SALE</span></span>  
        </h4>
      {% else %}
      <h4 class='price no-sale'>
        <span class='original' id='compare-at'>{{ product.compare_at_price| money }}</span>
        <span class='current js-inline' id='price'>{{ current_variant.price| money }}</span>
        {% if product.compare_at_price != blank %}
          {% assign og_price = product.compare_at_price | money_without_currency %}
          {% assign percentage = current_variant.price | money_without_currency | divided_by: og_price %}
          {% assign diff = 1 | minus: percentage | times: 100 %}
        {% else %}
          {% assign diff = 0 %}
        {% endif %}
        <span class='difference js-inline' id='difference'>{% if product.compare_at_price != blank and product.price < product.compare_at_price %}(-{{ diff | round: 0 }}%){% endif %} <span class='no-js'>SALE</span></span>  
      </h4>
      {% endif %}
      
      <div class='js-enabled' id='remaining'></div>
    </div>
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
        <div class='variants'>
          <select id="product-select" name="id">
            {% for variant in product.variants %}
              <option value="{{ variant.id }}" data-variant-quantity="{{ variant.inventory_quantity }}"
                {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
              >
                {{ variant.title }} - {{ variant.price | money }}
              </option>
            {% endfor %}
          </select>
        </div>
      {% if product.available %}
        <button class='button' type="submit" name="add" id="AddToCart" onclick="addToCart('AddToCartForm'); return false;">Add to cart</button>
      {% else %}
        <button class='button' type="submit" name="add" id="SoldOut" disabled>SOLD OUT</button>
      {% endif %}
    </form>
    <div class='product-details'>
      <details open>
        <summary>
          <div>
            {% render 'icon-align-justify' %}
            <p>Description</p>
          </div>
          <div class='indicator'>{% render 'icon-chevron-down' %}</div>
        </summary>
        <div class='description'>{{ product.description }}</div>
      </details>
      <details>
        <summary>
          <div>
            {% render 'icon-heart' %}
            <p>Care Information</p>
          </div>
          <div class='indicator'>{% render 'icon-chevron-down' %}</div>
        </summary>
        <div class='care-info'>
          {% render 'care-information' %}
        </div>
      </details>
    </div>
  </div>
</div>

<script>
  {% for variant in product.variants %}
    variantStock[{{- variant.id -}}] = {{ variant.inventory_quantity }};
  {% endfor %}
  const formatter = new Intl.NumberFormat('en-GB', {
    style: 'currency',
    currency: 'GBP',
    minimumFractionDigits: 2
  })

  function onVariantChange(variant) {
    let price = document.getElementById('price');
    let compare_at = document.getElementById('compare-at');
    let difference = document.getElementById('difference');
    let remaining = document.getElementById('remaining');
    
    if (price) price.innerHTML = formatter.format(variant.price/100);
    if (compare_at) compare_at.innerHTML = formatter.format(variant.compare_at_price/100);
    if (difference) difference.innerHTML = '(-' + Math.round((1 - (variant.price / variant.compare_at_price)) * 100) + '%)';
    if ((variant.compare_at_price || variant.compare_at_price == 0)&&(this.price < this.compare_at_price)) price.classList.remove('no-sale')
    else price.classList.add('no-sale');
    {% if section.settings.stock-warning %}
      if (variantStock[variant.id] < {{ section.settings.stock-warning }} && variantStock[variant.id] > 0 && variant.inventory_management == 'shopify') {
        if (variantStock[variant.id] == 1) {
          remaining.innerHTML = 'Last 1 in stock!';
        } else {
          remaining.innerHTML = 'Low in stock!';
        }
      };
    {% endif %}
  };

  var selectCallback = function(variant, selector) {
    if (!variant) return;
    if (variant.available) {
      // Construct URLSearchParams object instance from current URL querystring.
      var queryParams = new URLSearchParams(window.location.search);
      
      // Set new or modify existing parameter value. 
      queryParams.set("variant", variant.id);
      
      // Replace current querystring with the new one.
      history.replaceState(null, null, "?"+queryParams.toString());
      onVariantChange(variant)
    }
  };
  new Shopify.OptionSelectors('product-select', {
    product: {{ product | json }},
    onVariantSelected: selectCallback,
    enableHistoryState: true
  });
</script>

{% schema %}
    {
        "name": "Product",
        "settings": [
          {
            "type" : "number",
            "id" : "stock-warning",
            "label" : "Displays a stock warning when there is less than X amount left",
            "default" : 4
          }
      ]
    }
{% endschema %}

{% style %}
.product-images {
  max-width: 500px;
  margin: auto;
}
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: auto;
  /* margin-top: 16px; */
}
.slider .images {
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slider .product-image {
  vertical-align: bottom;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  /* height: 375px; */
  padding: 16px 32px 8px;
    scroll-snap-align: start;
}
.slider .control {
  position: absolute;
  top: 0;
  height: 100%;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.slider .control.left {
  left: 0;
}
.slider .control.right {
  right: 0;
}
ul.image-nav input {
  display: none;
}
.image-nav {
  position: relative;
  vertical-align: top;
  width: calc(100% - 64px);
  margin: auto;
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 8px;
}
.image-nav .product-image {
  width: calc(25% - 10px);
  aspect-ratio: 1 / 1;
  display: inline-block;
  margin-right: 8px;
}
.image-nav .product-image:last-of-type {
  margin: 0px;
}
.image-nav .product-image.more {
  display: none;
}
.image-nav .more-images {
  white-space: nowrap;
  width: auto;
  height: 100%;
}
.image-nav .show-more {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  height: 100%;
  width: calc(25% - 8px);
}
.image-nav .show-more label {
  position: absolute;
  top: 0;
  display: flex;
  aspect-ratio: 1 / 1;
  width: calc(25% - 8px);
  justify-content: center;
  align-items: center;
  background-color: #CBCBCB;
  color: #4F607B;
  font-weight: 600;
}

#show-more:checked ~ .product-image.more {
  display: inline-block;
}
#show-more:checked ~ .show-more {
  display: none;
}

.image-nav .product-image img, .slider .product-image img {
  object-fit: contain;
}

.image-nav::-webkit-scrollbar {
  height: 4px;
}
.image-nav::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 8px;
}
.image-nav::-webkit-scrollbar-thumb {
  background-color: #CBCBCB;
  border-radius: 8px;
}
.image-nav::-webkit-scrollbar-thumb:hover {
  background: #B5B5B5;
  border-radius: 8px;
}
.product-info {
  position: relative;
  width: calc(100% - 64px);
  margin: auto;
  font-size: 1.6rem;
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.product-info .button {
  width: 100%;
  max-width: 100%;
  text-transform: capitalize;
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  /* margin: 8px 0; */
}
.main-product .price {
  float: left;
  font-weight: 500;
}
.main-product .price, .price span {
  font-weight: 500;
}
.main-product .price .original {
  text-decoration: line-through;
  font-weight: normal;
  font-size: 1.2rem;
}
.main-product .price .difference {
  /* float: right; */
  font-weight:500;
  color: #4F607B;
  font-size: 1.2rem;
}
.main-product .price.no-sale .original,
.main-product .price.no-sale .difference {
  display: none;
}
.vendor, .vendor a {
  /* float: right; */
  font-weight: 500;
  font-size: 1.4rem;
  color: #4F607B;
  text-decoration: none;
}

.main-product .title {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 4px 0;
}

.product-details {
  margin-top: 16px;
}

.description, .care-info {
  padding: 8px 0;
  padding-left: 32px;
  font-size: 1.4rem;
}

.description strong {
  font-weight: 500;
}

.description ul li {
  font-size: 1.4rem;
  list-style: none;
  padding-left: 8px;
}
/* .js .price .difference {
  font-weight: normal;
  color: #4F607B;
} */

.variants {
  padding: 16px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  /* display: grid;
  grid-templat-columns: 1fr 1fr; */
}

#product-select {
  width: 100%;
}

.variants label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem;
  padding-bottom: 8px;
}

.variants select {
  height: 32px;
  font-size: 1.2rem;
  border: solid 1px black;
  border-radius: 0;
  color: black;
  background-color: white;
  padding-left: 8px;
}

#remaining {
  float: right;
  font-size: inherit;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  /* text-align: center; */
  color: #4F607B;
  /* padding: 8px 0; */
}

.selector-wrapper {
  display: inline-block;
  width: calc(50% - 8px);
}

.selector-wrapper label {
  display: block;
}

.selector-wrapper label, .selector-wrapper select {
  width: 100%;
}

@media (min-width: 1024px) {
  .main-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  .slider {
    margin: 0;
  }
  .slider .product-image {
    padding-top: 32px;
  }
  .product-images {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
  }
  .product-images ul.image-nav {
    /* flex-direction: column; */
    /* display: flex;
    flex-direction: column; */
    width: 116px;
    /* min-height: 100%; */
    height: auto;
    overflow-x: none;
    overflow-y: auto;
    white-space: normal;
    margin: 0;
    margin-top: 32px;
    padding: 0;
  }
  .product-images .image-nav .product-image {
    width: 100%;
    padding: 0 0 8px 0;
    margin: 0;
  }
  .product-images .image-nav .show-more, .product-images .image-nav .show-more label {
    display: flex;
    width: 100%;
  }
  .product-images .image-nav .show-more {
    width: 116px;
    height: 116px;
    /* display: flex; */
    width: 100%;
    position: relative;
    
  }
  /* .product-images, .product-info {
    display: inline-block;
    width: 50%;
  } */
  .product-info {
    margin: auto;
    margin-top: 32px;
    min-height: 400px;
    max-width: 320px;
  }
}
  
{% endstyle %}

{% javascript %}
{% endjavascript %}