{% section 'nav_bar' %}

<div class='page_content'>
  {% section 'promo_slider' %}

  <div class='slogan'>
    Chesterfield's Premiere Designer Clothes Store
  </div>

  {% assign variable = '5' %}
  {{ variable }}

  <br />

  {% assign array_string = 'one,two,three,four,five,six' %}
  {% assign array = array_string | split: ',' %}

  <ul>
    {% for num in array %}
      {% if num.size < 4 %}
        <li>{{ num }}</li>
      {% endif %}
    {% endfor %}
  </ul>

  <br />

  {% assign tshirts = collections['T-Shirts'] %}
  {{ tshirts.title }}
  <ul>
    {% for product in tshirts.products %}
      <li><a href='{{ product.url }}'>{{ product.title }} - {{ product.price | money }}</a>> </li>
    {% endfor %}
  </ul>

  <br />

  {% assign barbour = collections['Barbour'] %}
  {{ barbour.title }}
  <ul>
    {% for product in barbour.products %}
      <li><a href='{{ product.url }}'>{{ product.title }} - {{ product.price | money }}</a>> </li>
    {% endfor %}
  </ul>

  <br />

  {% section 'trending_brands' %}
</div>